:root {
  --background-image: url("images/forest.png");
  --primary-colour: #003c00;
  --secondary-colour: darkseagreen;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightgrey;
  margin: 0px;
  background-image: var(--background-image);
  background-size: cover;
}

header {
  background-color: var(--primary-colour);
  height: 12vh;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: gray 1pt solid;
  box-sizing: border-box;
  align-items: center;
}

#controls {
  height: 72%;
}

#controls select, #controls button {
  height: 100%;
}

select, button {
  background-color: var(--secondary-colour);
  font-size: 14pt;
  border-radius: 1rem;
}

select {
  width: 8rem;
  padding-left: 1rem;
}

button {
  width: 5rem;
}

#stats {
  display:flex;
  gap: 2rem;
}

/*
 * GAME BOARD
 */

#game_grid {
  z-index: 0;
  width: 80vw;
  height: 88vh;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
}

.grid_row {
  display: flex;
  flex: 1;
  gap: 2rem;
  justify-content: center;
}

.card {
  height: 100%;
  aspect-ratio: 2 / 3;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;

}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;

  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 0.64rem solid;
}

.back_face {
  background-color: blue;
  border-color: darkblue;
}

.flip {
  transform: rotateY(180deg);
}


.front_face {
  transform: rotateY(180deg);
  background-color: var(--secondary-colour);
  border-color: var(--primary-colour);
}

/*
 * MENUS
 */

#theme_menu {
  width: 60vw;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-colour);
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#theme_menu_button {
  position: absolute;
  width: 10rem;
  height: 4rem;
  right: 2%;
  bottom: 4%;
  border-radius: 1rem;
}

#theme_options {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-between;
}

.theme_option {
  width: 30%;
  height: 100%;
}

.theme_option button {
  width: 100%;
  height: 100%;
  background-size: cover;
}